*{
    padding: 0px;
    margin: 0px;
}
html{
    display: flex;
    justify-content: center;
}
body{
    height: 100%;
    width: 100%;
    border: 2px solid black;
    font-family: 'Libre Baskerville', serif;
    box-sizing: border-box;
    background-image: url('Images/1653475951087.jpg');
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("Images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo{
    height: 50px;
    width: 50px;
    margin: 10px;
}
header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #060606;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(18 13 13 / 30%) 0px 3px 6px -3px, rgb(66 32 32 / 20%) 0px 1px 9px inset;
}
header>img{
    height: 64px;
    margin-top: 14px;
}
.maindiv{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.link, .format{
    height: 3rem;
    margin: 5px;
    width: 80%;
    margin-bottom: 11px;
    border: 2px solid rgb(230, 39, 39);
    border-radius: 5px;
    padding-left: 10px;
    box-sizing: border-box;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 3px 6px -3px, rgba(0, 0, 0, 0.2) 0px 1px 9px inset;
}
.format{
    height: 3.2rem;
    padding-left: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('Images/expand.svg');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: right 10px top 50%;
    background-color: whitesmoke;
    cursor: pointer;
}
.maindiv > button{
    margin: 5px;
    width: 80%;
    height: 54px;
    background-color: red;
    color: #ffffff;
    font-size: 21px;
    margin-top: 15px;
    text-shadow: 4px 3px 4px black;
}
.maindiv > p{
    font-size: x-large;
    width: 90%;
    margin: 25px;
    text-align: center;
    margin-top: 32px;
    color: aliceblue;
    text-shadow: 4px 3px 4px black;
}
.about, .instructions, .features, footer{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
    /* margin-left: 16px; */
}
.about>p{
    width: 80%;
    line-height: 25px;
}
ol,ul{
    width: 80%;
    line-height: 25px;
}
.box>img{
    height: 50px;
}
.box>p{
    line-height: 25px;
}
.box>h2{
    color: #d12020;
    text-shadow: 4px 3px 4px #a15959;
}
.features-2, footer>p{
    width: 100%;
    height: 31%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.box{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25px;
}
footer>p, footer>ul>li{
    font-size: 16px;
}
footer>ul{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
footer>ul>li{
    margin-left: 10px;
    list-style: none;
    flex-wrap: wrap;
    font-size: 12px;
}
footer>p{
    height: 30px;
    font-size: 15px;
}
h2{
    margin: 5px;
    margin-bottom: 15px;
    font-size: 21px;
    text-align: center;
    text-shadow: 4px 3px 4px #887979;
}
.features-2{
    margin-top: 25px;
    margin-bottom: 25px;
}
.features-2>h2{
    margin: 0px;
    line-height: 45px;
}
.box3{
    margin: 0px;
}
p, li{
    font-size: 15px;
}
hr{
    width: 70%;
    display: flex;
    margin-left: 15%;
}
@media only screen and (min-width: 850px){
    body{
        width: 75%;
        border: none;
    }
    header{
        border: none;
        box-shadow: none;
    }
}
@media only screen and (min-width: 1000px){
    
    .maindiv > p{
        font-size: xx-large;
    }
}
iframe{
    width: 100%;
}
